.bg-color-bleufoncee{
background-color: #658DA7 !important;
} 

.bg-color-bleuclair{
    background-color: #C1D5DB !important;
}

.bg-color-saumon{
    background-color: #FCEEE3 !important;
}

.text-black{
    color: black !important;
}

.text-gris{
     color: rgb(88, 85, 85)!important;
}


