:root {
  --line-bg: #8f0304;
  --card-bg: #c1d5db;
  --button-bg: #658da7;
  --overlay-bg: #d9d9d9;
  --shadow: #000000;
}
/* style tache */
.tache {
  background-color: var(--button-bg);
}
/* style icons title */
.icon-size {
  font-size: 1.5rem !important;
}

/* to remove the row in the button */
.dropdown-toggle::after {
  display: none !important;
}

/* card tab size  */

.card-size {
  width: 100% !important;
  height: 20rem !important;
}
body {
  font-family: poppins !important;
  background-color: #fceee3 !important;
}

/* -----------------------    chat box ---------------------- */

.icon-size-chat {
  font-size: 2rem !important;
  border-radius: 45% !important;
  background-color: var(--button-bg);
  margin-bottom: 4.5rem !important;
}

a.nav-link {
  color: gray;
  font-size: 18px;
  padding: 0;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #e84118;
  padding: 2px;
  flex: none;
}

input:focus {
  outline: 0px !important;
  box-shadow: none !important;
}

.card-text {
  border: 2px solid #ddd;
  border-radius: 8px;
}

/* ----------------------- graficos ---------------------- */

.barra-1 {
  fill: blue;
}
.barra-2 {
  fill: red;
}

.barra-3 {
  fill: green;
}
